.feedback-sec{
    padding-top: 40px;
    padding-bottom: 60px;
}

.client-feedback-heading{
    color: #F54D42;
    font-family: "Sevillana", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
}
.caro-feed-main{
    padding: 0.5rem 2rem;
    padding-top: 40px;

}

.c-custom-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    font-size: 30px;
    color: black;
    border-radius: 50%;
    background-color: #cbcbcb;
    padding: .2rem;
    opacity: 0.2;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.caro-feed-div{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 20px;
    background-color: #F5F5F5;
    min-height: 40vh;
    margin-right: 10px;
    border-radius: 10px;

}


@media (max-width: 768px){
    .caro-feed-div{
        min-height: 20vh;
    }
}