*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Make slick-slide behave properly */
.slick-slide > div {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/* Carousel container */
.caro-main {
  padding-top: 90px;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: auto;
  text-align: center;
}

/* Flex container for each slide */
.caro-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* The image */
.caro-img {
  width: 100%;      /* reduce width as you wanted */
  height: 10vh;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px){
  .caro-main{
    padding-top: 70px;
  }
}